<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bbb592">  <td>19/04/24 11:19:05</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;TC001_Login.setData()[pri:0, instance:testcases.TC001_Login@6fd02e5]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@124407148</td>   <td></td> </tr>
<tr bgcolor="bbb592">  <td>19/04/24 11:19:07</td>   <td>1750</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_Login.Login(java.lang.String, java.lang.String)[pri:0, instance:testcases.TC001_Login@6fd02e5]">Login</td> 
  <td>main@124407148</td>   <td></td> </tr>
<tr bgcolor="bbb592">  <td>19/04/24 11:19:07</td>   <td>1844</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_Login.Login(java.lang.String, java.lang.String)[pri:0, instance:testcases.TC001_Login@6fd02e5]">Login</td> 
  <td>main@124407148</td>   <td></td> </tr>
<tr bgcolor="bbb592">  <td>19/04/24 11:19:07</td>   <td>1859</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_Login.Login(java.lang.String, java.lang.String)[pri:0, instance:testcases.TC001_Login@6fd02e5]">Login</td> 
  <td>main@124407148</td>   <td></td> </tr>
</table>
