<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bd9462">  <td>19/04/25 09:26:44</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.startApp(java.lang.String)[pri:0, instance:testcases.TC003_MergeLead@5bcab519]">&gt;&gt;startApp</td> 
<td>&nbsp;</td>  <td>main@673186785</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>19/04/25 09:26:57</td>   <td>12927</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC003_MergeLead.mergeLead()[pri:0, instance:testcases.TC003_MergeLead@5bcab519]">mergeLead</td> 
  <td>main@673186785</td>   <td></td> </tr>
<tr bgcolor="bd9462">  <td>19/04/25 09:27:09</td>   <td>25622</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:testcases.TC003_MergeLead@5bcab519]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@673186785</td>   <td></td> </tr>
</table>
